* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 22px;
	font-family: "Parisienne", sans-serif;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#121212, #212b46);
	color: #fff;
}

.title {
	font-size: 3.182rem;
    	margin-bottom: 0.909rem;
	color: #fff;
	animation: flipTitle 2s;
}

@keyframes flipTitle {
	from {
		transform: rotateX(90deg);
	}
	to {
		transform: rotateX(0deg);
	}
}

.foto1 {
	width: 8.182rem;
	transform: rotate(-10deg);
	border: 0.909rem solid #fff;
	box-shadow: 0.455rem 0.455rem #3a3a3a;
	margin-bottom: 0.909rem;
}

.foto2 {
	width: 11.364rem;
	transform: rotate(10deg);
	border: 0.909rem solid #fff;
	box-shadow: 0.455rem 0.455rem #3a3a3a;
	margin-bottom: 0.909rem;
}

.foto3 {
	width: 6.818rem;
	transform: rotate(-10deg);
	border: 0.909rem solid #fff;
	box-shadow: 0.455rem 0.455rem #3a3a3a;
	margin-bottom: 0.909rem;
}

.foto4 {
	width: 8.182rem;
	transform: rotate(10deg);
	border: 0.909rem solid #fff;
	box-shadow: 0.455rem 0.455rem #3a3a3a;
	margin-bottom: 0.909rem;
}

.fotos {
	padding-bottom: 0.909rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.fotos p {
	z-index: 1;
	font-size: 1.364rem;
	padding-top: 0.455rem;
	padding-bottom: 2.273rem;
	margin: 0 1.818rem;
	text-align: center;
}

.senha {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px;
	margin: 34px 0;
	display: flex;
	border-radius: 8px;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.senha input {
	background: transparent;
	border: 0 !important;
	font-size: 20px !important;
	font-weight: bold;
	outline: none;
	margin-right: 8px;
	font-family: sans-serif;
	color: rgb(241, 241, 241, 0.6) !important;
}

.senha input::placeholder {
	color: #f1f1f1;
}

.button {
	background: linear-gradient(#121212, #212b46) !important;
	padding: 0px 15px;
	height: 40px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform 0.5s;
}

.button:hover {
	transform: scale(1.1);
}

.form {
	padding-bottom: 30px;
}

.form label {
	margin-left: 1.364rem;
	font-family: sans-serif;
	font-size: 1.136rem;
	text-decoration: underline;
}
